h2 {
	text-align: center;
}
.background {
	background: #ffa500;
}
/*li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}
*/
.label {
  font-weight: bold;
}

.create-form {
  /*padding: 5px;
  margin: 5px;
  background: aqua;*/
  text-align: center;
}

.form-group {
  /*margin: 5px;*/
  text-align: center;
}